.userOverview {
    max-width: 1200px;
    display: flex;
    margin: 10px auto;
    flex-direction: column;
  }

  /* שורת הכותרת והכרטיסים - בקו אחד מושלם */
  .headerRow {
    display: flex;
    justify-content: space-between; // כותרת בשמאל, כרטיסים בימין
    align-items: flex-end;         // מיישר את כולם לפי ה-"קרקע"
    width: 100%;
    margin-bottom: 35px;
  }

  .title {
    font-size: 32px;
    font-weight: 800;
    color: #60a5fa; // הכחול מהצילום מסך שלך
    margin: 0;
    letter-spacing: -0.5px;
  }

  .subtitle {
    font-size: 15px;
    color: #94a3b8;
    margin: 6px 0 0;
  }

  /* שורת הכרטיסים - מיושרת לימין ללא מתיחה */
  .cardsRow {
    //display: flex;
    gap: 16px; // רווח צמוד ונקי בין הכרטיסים
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .contentRow {
    width: 100%;
    margin-top: 30px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    align-content: center;
  }

  .loading{
    width: 56px !important;
    height: 56px !important;
    color: #60a5fa !important;

    /* Glow */
    filter: drop-shadow(0 0 10px rgba(96, 165, 250, 0.45));

    /* Rounded stroke */
    .MuiCircularProgress-circle {
      stroke-linecap: round;
    }
  }