.container{
  display: flex;
  justify-self: flex-end;
  .btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020617;
    img {
      width: 15px;
      height: 15px;
      filter: invert(100%);
    }
  }
}
.btn:hover {
  border: none;
  background: #22c55e ;
}
